<!doctype html>
<div class="bg-[#0b0f17] border-r border-[#0f1724]" id="about">
  <div>
    <!-- add white line -->
    <hr class="border-t border-white mb-4" />
  </div>
  <h1 class="text-white text-3xl font-mono mb-4">About Me</h1>
  <p class="text-[#9aa3ad] font-mono leading-relaxed">
    Hello! I'm Kimsinh Seang, a passionate software developer with a love for
    creating innovative solutions. With a background in computer science, I
    specialize in building web applications and have experience working with
    various technologies including JavaScript, Astro, and more. I'm always eager
    to learn new skills and take on challenging projects. When I'm not coding, I
    enjoy exploring the latest tech trends and contributing to open-source
    communities.
  </p>
</div>
