<!doctype html>
<div class="bg-[#0b0f17] border-r border-[#0f1724]" id="experience">
  <h1 class="text-white text-3xl font-mono mb-6">My Experience</h1>
  <!-- Vertical Timeline (TailwindCSS) -->
  <div class="relative pl-8 border-l border-gray-300">
    <!-- Present – AMS -->
    <!-- <div class="relative"></div> -->
    <h3 class="text-lg font-semibold text-white">
      Web Developer — Apsara Media Services (AMS)
    </h3>
    <span class="text-sm text-amber-600">Present</span>
    <ul class="text-sm list-disc ml-5 space-y-1 text-white">
      <li>Maintained and updated the AMS3E WordPress website.</li>
      <li>Developed a new responsive website from scratch using Nuxt.js.</li>
      <li>Integrated APIs to enhance functionality and user experience.</li>
      <li>
        Ensured optimal performance, security, and cross-browser compatibility.
      </li>
      <li>Troubleshot and resolved issues for seamless user experience.</li>
      <li>
        Built a Facebook auto-reply comment system using Graph API and LLM for
        smart automation.
      </li>
    </ul>
  </div>

  <!-- Advance MSP -->
  <div class="relative pl-8 border-l border-gray-300 pt-8">
    <h3 class="text-lg font-semibold text-white">
      Frontend Developer — Advance MSP
    </h3>
    <span class="text-sm text-amber-600">2024–2025</span>
    <ul class="text-sm text-white list-disc ml-5 space-y-1">
      <li>
        Developed and maintained responsive web applications using Next.js.
      </li>
      <li>Integrated RESTful APIs and improved system performance.</li>
      <li>
        Collaborated with backend developers to ensure seamless communication.
      </li>
      <li>Contributed to backend tasks when needed.</li>
    </ul>
  </div>

  <!-- Freelancer -->
  <div class="relative pl-8 border-l border-gray-300 pt-8">
    <h3 class="text-lg font-semibold text-white">
      Freelancer — Fullstack / Frontend Developer
    </h3>
    <span class="text-sm text-amber-600">2024–2025</span>
    <ul class="text-sm text-white list-disc ml-5 space-y-1">
      <li>
        Developed a web application to help clients streamline internal
        operations.
      </li>
      <li>Built the frontend using Next.js for performance and scalability.</li>
      <li>Integrated RESTful APIs for seamless data communication.</li>
      <li>
        Implemented NextAuth.js for secure authentication and session
        management.
      </li>
      <li>Applied RBAC for user permission control and system access.</li>
      <li>
        Contributed to backend development using Golang for a scalable system.
      </li>
      <li>
        Implemented CI/CD pipelines for automated deployment and early bug
        detection.
      </li>
      <li>
        Configured and optimized Nginx and server infrastructure for reliable
        deployment.
      </li>
    </ul>
  </div>
</div>
