---

---

<!doctype html>
<html lang="en" class="flex bg-[#0b0f17] h-full overflow-y-scroll">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lavishly+Yours&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kimsinh Seang</title>
  </head>
  <body>
    <slot />
  </body>
  <footer>
    <p class="text-white flex justify-center">
      &copy; 2025 Kimsinh Seang. All rights reserved.
    </p>
  </footer>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
